a {
  text-decoration: none;
}

.fas,
i > * {
  color: #7569d1;
}

input {
  background-color: #292d38;
  color: white;
  font-family: "gilroy", sans-serif;
  outline: none;
}

li {
  margin: 0;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
}

.progress {
  position: relative;
  height: 7px;
  width: 100%;
  border: 1px solid #7569d1;
  background: #22242b;
  border-radius: 15px;
}

.progress-color {
  position: absolute;
  background-color: #ee8760;
  width: 15px;
  left: 0;
  height: 5px;
  border-radius: 15px;
  -webkit-animation: progres 4s infinite linear;
          animation: progres 4s infinite linear;
}

.progress-color::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: white;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "gilroy", sans-serif;
  background-color: #292d38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.icon-button {
  color: #7569d1;
  padding: 1.2em;
  height: 1em;
  width: 1em;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.active-btn {
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.616);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.616);
}

.header {
  width: 10%;
  height: 100vh;
}

.nav {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0.8em;
}

.menu {
  list-style-type: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  margin-top: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item {
  display: block;
  margin: 0.5em;
}

.member-section {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0.8em;
}

.member {
  list-style: none;
  margin-top: 1em;
}

.member-img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  padding: 0.3em;
}

.main {
  background-color: #22242b;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.folder-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.folder-selector,
select {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: "gilroy", sans-serif;
}

.folder-selector option {
  background-color: black;
  border: none;
  outline: none;
}

.searchbar-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-input {
  padding: 1em 3em;
  padding-left: 3em;
  border: none;
  border-radius: 8px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-input-container {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-input-container i {
  position: absolute;
  top: 10px;
  left: 15px;
}

.searchbar-btns {
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 1.5em 0em 1.5em;
}

.huge-title {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: 400;
}

.huge-title span {
  font-weight: 800;
}

.projects-cards {
  padding: 1rem;
  padding-left: 0em;
  overflow-y: scroll;
  max-height: 22rem;
  scroll-snap-stop: start;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  scroll-snap-align: center;
}

.projects-cards::-webkit-scrollbar {
  display: none;
}

.projects-card {
  background-color: #292d38;
  padding: 1rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.416);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.416);
  gap: 2em;
  min-height: 10rem;
  max-width: 22rem;
  margin-bottom: 1em;
}

.project-card_title {
  font-size: 1.2rem;
}

.project-card_subtitle {
  padding-top: 1em;
  font-size: 0.9rem;
}

.project-crad_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-button {
  border-radius: 1rem;
  background: #7569d155;
  color: #9790ce;
  padding: 0.5em 1em;
}

.card-member {
  list-style: none;
  margin-top: 1em;
}

.card-member_items {
  display: inline;
}

.card-member_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.2em solid #292d38;
}

.card-member_items:nth-of-type(2) {
  position: relative;
  left: -25px;
}

.card-member_items:nth-of-type(3) {
  position: relative;
  left: -50px;
}

.large-card {
  background-color: #292d38;
  padding: 1rem;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  min-height: 8rem;
  max-width: 28rem;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.large-card .tag-title {
  color: #7569d1;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.large-card .card-title {
  font-weight: 600;
  margin-top: 1rem;
}

.large-card .accent-button {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  background-color: #ee876011;
  color: #ee8760;
  font-weight: 600;
  cursor: pointer;
  border: 0px solid #ee8760;
  -webkit-transition: ease-in-out all 0.5s;
  transition: ease-in-out all 0.5s;
  letter-spacing: 1px;
}

.large-card .accent-button:hover,
.large-card .accent-button:focus {
  background-color: #7569d111;
  color: white;
}

.large-card .img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.large-card .img i {
  font-size: 5rem;
}

.large-card .bottom-section {
  margin: 1em 0em 0em 0em;
}

.roadmap-container {
  margin: 2em 0em 0em 0em;
}

.roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.roadmap-icons > i {
  color: gray;
}

.roadmap-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5em;
}

.roadmap-container > p {
  font-size: 0.6em;
  color: gray;
}

.roadmap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #7569d1;
}

.roadmap-time {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

.roadmap-time > p {
  font-size: 0.6em;
  color: gray;
}

.roadmap-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #292d38;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.416);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.416);
  gap: 2em;
  min-height: 8rem;
  max-width: 20rem;
  margin-bottom: 1em;
}

.roadmap-card_subtitle {
  font-size: 0.6em;
}

.roadmap-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.roadmap-bottom > .roadmap-card {
  margin-top: 1em;
}

.profile {
  width: 26%;
  height: 100vh;
}

.profile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em;
}

.profile-nav > i {
  color: grey;
}

.profile-main_containt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

.profile-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

.profile-pic {
  background-color: #22242b;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.profile-pic > i {
  font-size: 2em;
  color: white;
}

.plus {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.profile-username {
  margin-top: 0em 0em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-username > h3 {
  font-weight: 500;
}

.profile-username > p {
  font-size: 0.8em;
  text-align: center;
}

.profile-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 2em;
  gap: 1.5em;
}

.profile-middle p {
  font-size: 0.8em;
}

.profile-middle h4 {
  text-align: center;
}

.profile-bottom {
  background-color: #22242b;
  border-radius: 0.8em;
  width: 14.5em;
  height: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-page {
  padding: 1em;
  font-size: 0.8em;
  background-color: #ee876011;
  color: #ee8760;
  border-radius: 0.8em;
}

.team-page:hover,
.team-page:focus {
  background-color: #7569d111;
  color: white;
}

.pearsonal-page {
  padding: 1em;
  font-size: 0.8em;
}

.profile-card {
  background-color: #22242b;
  width: 14.5em;
  height: 18em;
  border-radius: 1.5em;
  margin: 1em 0em 0em 0em;
}

.dropdown-menu,
select {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: "gilroy", sans-serif;
}

.dropdown-menu option {
  background-color: black;
  border: none;
  outline: none;
}

.dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8em 2em 0.8em 2em;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0em 1em;
  border-bottom: 2px solid #292d38;
  padding-bottom: 0.5em;
}

.chat p {
  font-size: 0.8em;
}

.msg-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0em 0em 1em;
}

.msg-1 p {
  background-color: #292d38;
  padding: 0.5em;
  border-radius: 0.8em 0.8em 0.8em 0em;
  margin: 0em 0em 0em 0.5em;
  font-size: 0.8em;
}

.after-msg1 {
  font-size: 0.6em;
  margin: 0em 0em 0em 8em;
}

.msg-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0em 0em 1em;
}

.msg-2 p {
  background-color: #7569d1;
  padding: 0.5em;
  border-radius: 0.8em 0.8em 0em 0.8em;
  margin: 0em 0em 0em 0.5em;
  font-size: 0.8em;
}

.card-msg_input {
  margin: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.msg-input {
  border: none;
  border-radius: 0.5em;
  width: 10em;
  padding: 0.5em 1em;
}

.card-msg_input i {
  color: grey;
}
/*# sourceMappingURL=main.css.map */